<!DOCTYPE html>

<html lang="en">


{% extends "base.html" %}


{% block body %}

    <body>


    <div class="container">
        <div class="'row">

            <div class="'col s9">


                <h3 style=margin-left:0px;> CWL explorer </h3>


                <div class="divider"></div>

                <div class="section">
                    <h5> Purpose and scope </h5>
                    <p>  This tool accepts CWL workflow and tool definitions as inputs and renders tjhe pipelines as an interactive di-acyclic (DAG) graphic visualisation.</p>
                </div>


                </div>
                <div class="section">
                    <h5>  Demo </h5>
                    <p> https://bjpop.github.io/cwl_explorer/ </p>
                </div>



                <h5> Workflows in the database </h5>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Workflows <span class="caret"></span></button>

                    <ul class="dropdown-menu">

                        {% for row in workflowrows %}

                            <li><a href= explorer.html/{{ row.cwlexplorer_accession }}>{{ row.workflow_name }}</a></li>

                        {% endfor %}

                    </ul>
                </div>


            </div>
        </div>
    </div>

    </body>

{% endblock %}

</html>