<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Australian Genomics Pipeline Registry </title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='agha.ico') }}">
</head>



<header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class ='row'>
    <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <a class="navbar-brand" href="/">
                 <img style = 'max-width:200px; margin-top: -20px;' src ="{{ url_for('static', filename='images/agha.ico') }}" /</img>
              </a>
        </div>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for a pipeline">
                    <button type="submit" class="btn btn-default">Find</button>

                </div>
            </form>

      </div>
  </div>

</header>


<body>


<div class ="container">
    <div class="'row">

        <div class="'col s9">


     <h3 style=margin-left:0px; > {{ title }}</h3>
    <p style=margin-left:50px;color:black> {{ subhead }}</p>



        <div class="divider"></div>

              <div class="section">
                <h5>{{ subheading1 }}</h5>
                <p>{{ subheadtext1 }}</p>
              </div>
              <div class="section">
                <h5> {{ subheading2 }}</h5>
                <p>{{ subheadtext2 }}</p>
              </div>
              <div class="section">
                <h5> {{ subheading3 }}</h5>
                <p>{{ urllink|urlize(100, true, nofollow) }}</p>
              </div>
        </div>
    </div>
</div>







</body>