<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<style>


</style>

{% block body %}

    <body>


    <div class="container" style="margin-top: 20px">
    <h2>
        Flagships
    </h2>


        <div class="panel-group" id="accordion" role="tablist"
             style="margin-left: 20px; margin-right: 20px; margin-top: 20px;">
            {% for flagship in flagships %}

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{ flagship.Flagship.id }}">
                                {{ flagship.Flagship.flagship_name }}
                            </a>
{#                            {%  for institute in institutes %}#}
{##}
{#                            <img src="{{ url_for('static', filename='images/logos/' + institute.institute_logo) }}">#}
{#                                {% endfor %}#}
                        </h3>
                    </div>

                    <div id="{{ flagship.Flagship.id }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h5> Flagship institute </h5>
                            <p> {{ flagship.Flagship.flagship_institute }} </p>
                            <br>
                            <h5> Flagship disease type </h5>
                            <p> {{ flagship.Flagship.flagshipDiseaseType }}  </p>

                            <br>
                            <h5> Flagship lead </h5>
                            <p> {{ flagship.Flagship.flagship_lead }}  </p>
                            <br>
                            <h5> Pipelines in use </h5>
                            <ul>
                                {% for workflow in flagship.Flagship.workflows %}
                                    <li> {{ workflow.workflow_name }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>
                </div>
            {% endfor %}
            </ul>
        </div>
    </div>

    </body>



{% endblock %}


</html>