{% extends "base.html" %}

{% block body %}
    <div class="container" style="margin-top: 50px">
        <div class="col-md-3 sidebar" style="margin-bottom: 120px; margin-top: 20px">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="/registry-overview.html">Pipeline Registry</a></li>
                    <li><a href="/flagship.html">AGHA Flagships</a></li>
                    <li><a href="/resources.html">Resources</a></li>
                    <li><a href="/about.html">About</a></li>
{#                    <li><a href="/query.html"> Query Workflow TODO </a></li>#}

                </ul>
            </nav>
        </div>
        <div class="'col md-9">
            <h3 style=margin-left:50px;> Australian Genomics Registry of Pipelines </h3>
            <p style=margin-left:50px;color:black> This is the home of the Australian Genomics
                Bioinformatics
                pipeline registry. </p>
            <h5 style="font-size: 20px"> Purpose and scope </h5>
            <p> The Australian Genomics registry provides a standardised description of the
                bioinformatic
                pipelines.This includes the pipelines in operation across key
                Australian Healthcare organisations including those used by Australian Genomics
                Flagships.
                The pipelines have been described using a community-developed and engineered
                standard, the
                Common Workflow language (CWL).
                To facilitate exploration of the pipelines, the documents are rendered into a
                dynamic
                visualisation,
                providing an overview of the structure and composition of each pipeline.</p>

            <h5 style="font-size: 20px"> Links </h5>
            <ul class="list-unstyled components">
                <li><a href="http://www.commonwl.org/" ; style=color:black;>The Common Workflow
                    Language
                    (http://www.commonwl.org) </a></li>
                <li><a href="http://edamontology.org/page" ; style=color:black;>EDAM Ontology
                    (http://edamontology.org/page) </a></li>
                <li><a href="https://bio.tools/" ; style=color:black;>Elixir tool registry
                    (https://bio.tools) </a></li>
                <li><a href="https://scicrunch.org/" ; style=color:black;>SciCrunch data portal
                    (https://scicrunch.org) </a></li>
                <li><a href="http://rabix.io/" ; style=color:black;> Rabix tools and libraries for
                    creating and
                    visualising CWL
                    workflows (http://rabix.io/) </a></li>
                <li><a href="https://view.commonwl.org/" ; style=color:black;>CWL Viewer
                    (https://view.commonwl.org/) </a></li>
            </ul>

            <div class="'col s9">


            </div>
        </div>

        <div class="col s9" style="margin-left: 20px">
            <h3 style="margin-left: 0px; margin-bottom: 20px"> Pipelines registered </h3>
            <div id="googleMap" style="width:100%;height:400px"></div>
            <h3 style="margin-bottom:50px;margin-top: 20px"> Contributing Centres </h3>

            {% for row in institute_query_all %}
                <img style='max-width:200px; max-height: 150px; margin-top: -20px;'
                     src="{{ url_for('static', filename='images/logos/' + row.institute_logo) }}">
            {% endfor %}

            <h3 style="margin-bottom:50px;"></h3>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>

        function myMap() {

            var locations =
                [
                    {% for row in instituterow %}
                        ['{{ row.institute_name }}', {{ row.institute_lat }}, {{ row.institute_long }}, '{{ row.institute_logo }}'],
                    {% endfor %}
                ]
            ;

            var mapProp = {
                center: new google.maps.LatLng(-24.994167, 134.866944),
                zoom: 4,
                mapTypeId: 'satellite'
            }

            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp)


            var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/a_blue.png';

            {#            var image = {#}
            {#                url: "/static/images/logos/sap.png",#}
            {#          size: new google.maps.Size(100, 100),#}
            {#                scaledSize: new google.maps.Size(25, 8), // scaled size#}
            {#                origin: new google.maps.Point(0, 0),#}
            {#                anchor: new google.maps.Point(0, 0)#}
            {#            };#}


            {#            var markerImage = "/static/images/map-localization.svg";#}

                        var pinColor = "FE7569";
                        var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
                            new google.maps.Size(21, 34),
                            new google.maps.Point(0, 0),
                            new google.maps.Point(10, 34));

            var count;
            for (count = 0; count < locations.length; count++) {


                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[count][1], locations[count][2]),
                    map: map,
                    icon: pinImage
                });


                attachInfo(marker, locations[count][0], locations[count][3]);
            }

            {#            var mc = new MarkerClusterer(map);#}

            {#            marker.setMap(googleMap);#}
        }

        function attachInfo(marker, location, image) {

            var contentString = '<div class="info-window">' +
                '<div class="info-content">' +
                "<img width = '80' src=" + "static/images/logos/" + image + ">" + '<h5>' + location + '</h5>' +

                '</div>' +
                '</div>';


            var infowindow = new google.maps.InfoWindow({
                content: contentString,
                maxWidth: 400
            });
            marker.addListener('click', function () {
                infowindow.open('googleMap', marker);
            });
        }


    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvRM8RUAyX8O9eODVQmPBoYngM2ya8BOU&callback=myMap"></script>
    {#    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">#}
    {#    </script>#}


{% endblock %}
</html>