<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block body %}
    <body>

    <div class="container" style="margin-top: 20px">

        <h3> Workflow comparison </h3>
        <div class="col-sm-3">

            <form action="{{ url_for('query') }}" method="post" class="form-horizontal">


                <div>
                    <div>
                        <label for="comparison" style="margin-top: 20px"> Comparator terms </label>
                        <select class="form-control" id="comparator" name="comparator">
                            <option selected disabled> Select...</option>
                            <option> Tool & Version</option>
                            <option> File types</option>
                        </select>
                    </div>
                    <label for="workflowTypes"> Select workflow type </label>

                    <select class="form-control" name="workflowTypes" id="workflowTypes"
                            onchange="return showWorkflowStages();">
                        <option selected disabled> Type</option>
                        <option value='somatic'> Somatic</option>
                        <option value='germline'>Germline</option>
                    </select>

                </div>


                <div id="workflowStages" style="visibility: hidden">

                    <div id="somaticworkflow">
                        <label for="somaticworkflow"> Workflow stages</label>

                        <select class="form-control" name="workflowstage" id="somaticworkflow">
                            <option value="tumour"> Tumour</option>
                            <option value="normal"> Normal</option>
                            <option value="variant-calling"> Variant calling</option>

                        </select>
                    </div>

                    <div id="germlineworkflow" style="visibility:hidden" onchange="return showWorkflowStages();">
                        <label for="germlineworkflow"> Workflow stages</label>
                        <select class="form-control" name="workflowstage" id="germlineworkflow"
                                onchange="return showWorkflowStages();">
                            <option value="read_alignment"> Read alignment</option>
                            <option value="post-alignment-processing"> Post alignment processing</option>
                            <option value="variant-calling"> Variant calling</option>
                        </select>
                    </div>


                    <div id="listgermlineworkflows" style="visibility:hidden" onchange="return showWorkflowStages();">

                        <label for="listgermlineworkflows"> Select a germline workflow </label>
                        <select name="listworkflows1" class="form-control" id="listworkflows1"
                                onchange="return showWorkflowStages();">
                            <option selected disabled> Workflow 1...</option>
                            {% for row in germlineworkflows %}
                                <option value= "{{ row.workflow_name }}">{{ row.workflow_name }}</option>
                            {% endfor %}
                        </select>

                        <label for="listgermlineworkflows"> Select a germline workflow </label>
                        <select name="listworkflows2" class="form-control" id="listworkflows2"
                                onchange="return showWorkflowStages();">
                            <option selected disabled> Workflow 1...</option>
                            {% for row in germlineworkflows %}
                                <option value= "{{ row.workflow_name }}">{{ row.workflow_name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div id="listsomaticworkflows" style="visibility:hidden" onchange="return showWorkflowStages();">
                        <label for="listworkflows1"> Select workflows </label>
                        <select name="listworkflows1" class="form-control" id="listworkflows1"
                                onchange="return showWorkflowStages();">
                            <option selected disabled> Workflow 1...</option>
                            {% for row in somaticworkflows %}
                                <option value= "{{ row.workflow_name }}">{{ row.workflow_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="listsomaticworkflows2"> Select workflows </label>
                        <select name="listworkflows2" class="form-control" id="listworkflows2"
                                onchange="return showWorkflowStages();">
                            <option selected disabled> Workflow 2...</option>
                            {% for row in somaticworkflows %}
                                <option value= "{{ row.workflow_name }}">{{ row.workflow_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary">Query CWL</input>

            </form>


        </div>

    </div>

    <p style="margin-top: 100px">

    <ul>
        {% for row, row2 in temp2|zip(temp3) %}

            <h5> Package </h5>
            {% for i in row2 %}
                {{ i }}
            {% endfor %}

            <h5> Specification </h5>
            <li> {{ row.specs[0] }}</li><h5> Version </h5>
            <li>{{ row.version[0] }}</li>

            <br>
        {% endfor %}


    </ul>


    </p>
    </div>
    </body>
    <script>

        function showWorkflowStages() {

            var selectBox = document.getElementById("workflowTypes");

            var userInput = selectBox.options[selectBox.selectedIndex].value;
            if (userInput == "somatic") {
                document.getElementById('somaticworkflow').style.visibility = 'visible'
                document.getElementById('workflowStages').style.visibility = 'visible'
                document.getElementById('listsomaticworkflows').style.visibility = 'visible'

                document.getElementById('germlineworkflow').style.visibility = 'hidden'
                document.getElementById('workflowStages').style.visibility = 'hidden'
                document.getElementById('listgermlineworkflows').style.visibility = 'hidden'

            }

            if (userInput == "germline") {
                document.getElementById('germlineworkflow').style.visibility = 'visible'
                document.getElementById('workflowStages').style.visibility = 'visible'
                document.getElementById('listgermlineworkflows').style.visibility = 'visible'

                document.getElementById('somaticworkflow').style.visibility = 'hidden'
                document.getElementById('workflowStages').style.visibility = 'hidden'
                document.getElementById('listsomaticworkflows').style.visibility = 'hidden'
            }

            return false

        }

    </script>

{% endblock %}


</html>