<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block body %}
    <body>

    <p style="margin-top: 100px">

    <ul style="circle;">
        {% for row, row2 in temp2|zip(temp3) %}

            <h5> Package </h5>
            {% for i in row2 %}
                {{ i }}
            {% endfor %}

            <h5> Specification </h5>
            <li> {{ row.specs[0] }}</li><h5> Version </h5>
            <li>{{ row.version[0] }}</li>

            <br>
        {% endfor %}


    </ul>


    </p>

    </body>

{% endblock %}
</html>