<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block body %}

    <body>

    <div class="container-fluid">

        <h3>
            1 </h3>


        <div>
            {% for i in range(steps_workflow1) %}


                <li> package: {{ workflow1dict['steps'][i]['run']['hints'][0]['packages'] }}  </li>

            {% endfor %}
        </div>


        <h3> Workflow 2 </h3>


        <div>
            {% for i in range(steps_workflow2) %}


                <li> package: {{ workflow2dict['steps'][i]['run']['hints'][0]['packages'] }}  </li>

            {% endfor %}
        </div>

    </div>

    </body>
{% endblock %}


</html>