<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block body %}

    <body>

    <div class="container-fluid">


        <div>
            <h5> Workflow 1</h5>
            {% for i in range(steps_workflow1) %}

                {% if set_flag == True %}
                    {% if 'Workflow' in workflow1dict['steps'][i]['run'] %}
\
                        <p>
                            package: {{ workflow1dict['steps'][i]['run']['steps'] }}  </p>


                        {#                    {% elif %}#}
                        {#                        <li> package: {{ workflow1dict['steps'][i]['run']['hints'][0]['packages'] }}  </li>#}

                    {% else %}
{#                        #=<p> {{ workflow1dict['steps'][i]['run'] }}</p>#}

                    {% endif %}
                {% else %}
                    {#                    <li> package: {{ workflow1dict['steps'][i]['run']['hints'][0]['packages'] }}  </li>#}


                {% endif %}

            {% endfor %}
        </div>


        <h3> Workflow 2 </h3>


        <div>
            {% for i in range(steps_workflow2) %}


                {#                <li> package: {{ workflow2dict['steps'][i]['run']['hints'][0]['packages'] }}  </li>#}

            {% endfor %}
        </div>

    </div>

    </body>
{% endblock %}


</html>