<!DOCTYPE html>
<html lang="en">


{% extends "base.html" %}
{% block body %}
    <script type="application/javascript" src="{{ url_for('static', filename='js/rabix.bundle.js') }}"></script>
    <style>
        #cwl {
            width: 100%;
            height: 100%;
            position: absolute;
        }
    </style>
    <div class="container container-fluid">
        <h1> CWL visualisation </h1>
        <p> Visualisation using rabix open-source library </p>
        <h3> Workflow: {{ workflow_instance.workflow_name }}</h3>
        <h5> Here is the location of the Json { workflow_instance.workflow_json } </h5>
        <p>

        </p>

        <h4> Pipeline visual here ?</h4>
        <svg class="cwl-workflow" id="cwl" data-workflow-name="{{ workflow_instance.workflow_accession}}" data-workflow-version="{{ workflow_instance.workflow_version }}"></svg>

    </div>
{% endblock %}


</html>
