<!DOCTYPE html>
<html lang="en">'


{% extends "base.html" %}

{% block body %}
    <body>
    <div class="container" style="margin-top: 50px;">
        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="panel-title">

                    {% for row in workflow_join %}

                        <h4>{{ row.Workflow.workflow_name }} </h4>
                    {% endfor %}

                </div>
            </div>
            <div class="panel-body">
                {% for row in workflow_join %}
                    <p> <h5> Description </h5> {{ row.Workflow_Description.description }}
                    <p> <h5> Library preparation </h5>{{ row.Workflow.library_preparation }}
                    <p> <h5> Library layout </h5>{{ row.Workflow.library_layout }}
                    <p> <h5> Sequencing strategy </h5>{{ row.Workflow.sequencing_strategy }}
                    <p> <h5> Reference genome </h5>{{ row.Workflow.reference_genome }}
                    <p> <h5> Usage </h5>{{ row.Workflow.workflow_usage }}

                {% endfor %}
                <h5> Additional versions </h5> {{ message }}

                <ul style="margin-left: -40px">
                    {% if message == True %}


                        {% for row in workflow_all %}
                            <li style="margin-left: 20px">
                                <a href={{ row.Workflow.workflow_accession|string + '/' + row.Workflow.workflow_version|string }}>
                                    {{ row.Workflow.workflow_name }} {{ row.Workflow.workflow_version }} </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4>Summary </h4></div>
            </div>
            <div class="panel-body" style="height: auto">


                <table class="rtable rtable--flip">
                    <thead>

                    <tr style="width: 150px">
                        <th>Workflow manager</th>
                        <th>Sample QC</th>
                        <th>FastQ QC</th>
                        <th>Alignment</th>
                        <th>Bam QC</th>
                        <th>Variant calling</th>
                        <th>Variant annotation</th>
                        <th>Variant filtering</th>
                        <th>Variant QC</th>
                        <th>Verification</th>
                        <th>Reporting</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr style="width: 1000px">

                        {% for row in workflow_join %}

                            <td>{{ row.Workflow_Description.workflow_manager }}</td>
                            <td>{{ row.Workflow_Description.sample_qc }}</td>
                            <td> {{ row.Workflow_Description.fastq_qc }}</td>
                            <td> {{ row.Workflow_Description.alignment }}</td>
                            <td> {{ row.Workflow_Description.bam_qc }}</td>
                            <td> {{ row.Workflow_Description.variant_calling }}</td>
                            <td> {{ row.Workflow_Description.variant_annotation }}</td>
                            <td> {{ row.Workflow_Description.variant_filtering }}</td>
                            <td> {{ row.Workflow_Description.variant_qc }}</td>
                            <td> {{ row.Workflow_Description.verification }}</td>
                            <td> {{ row.Workflow_Description.reporting }}</td>

                        {% endfor %}
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title"><h4> Workflow Visual </h4></div>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-sm-2">

                        <nav id="sidebar">

                            <ul class="list-unstyled components" style="font-size: 12px">
                                <li><h4> Stage packages: </h4></li>
                                <li class="packageName"> Package name</li>
                                <ul>
                                    <li class="packageName"></li>
                                </ul>
                                <li class="version"> Version</li>
                                <ul>
                                    <li class="version"></li>
                                </ul>
                                <li class="doc"> Description</li>
                                <ul>
                                    <li></li>
                                </ul>
                                <li class="hints"><a href="#"> Scicrunch link</a></li>
                                <li>

                                </li>


                                <li><h4> File details </h4></li>
                                <ul>
                                    <li></li>
                                </ul>
                                <li> Type</li>
                                <ul>
                                    <li></li>
                                </ul>
                                <li> Description</li>
                                <ul>
                                    <li></li>
                                </ul>
                                <li> EDAM Identifier</li>

                            </ul>
                        </nav>

                    </div>
                    <div id="vue" class="col-sm-10">
                        {% if workflow_json != None %}
                            <cwl
                                    cwl-url="/pipeline/{{ workflow_json.workflow_accession }}/{{ workflow_json.workflow_version }}"
                                    v-bind:plugins="plugins"
                                    @selection-changed="selectionChanged"
                            ></cwl>
                        {% else %}
                            <p> No visual available </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#2">
                            <h4> Additional information </h4>
                        </a>
                    </div>
                </div>
                <div id="2" class="panel-collapse collapse">

                    <div class="panel-body">

                        {% for row in workflow_join %}
                            {{ include_md('markdown/' + row.Workflow.workflow_accession + '.md') }}
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#3">
                            <h4> Feature Summary </h4></a></h4>
                </div>
                <div id="3" class="panel-collapse collapse">
                    <div class="panel-body" style="height: auto">
                        <table class="rtable rtable--flip">
                            <thead>
                            <tr style="min-width: 300px">
                                {% for Pipeline_summary in header %}
                                    {% for field in Pipeline_summary.__table__.columns.keys() %}
                                        <th> {{ field|replace("_"," ")|title }} </th>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for Pipeline_summary in header %}
                                {% for field in Pipeline_summary.__table__.columns.keys() %}
                                    <td> {{ Pipeline_summary[field] }} </td>
                                {% endfor %}
                            {% endfor %}
                            </td>


                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/rabix.bundle.js') }}"></script>
    </body>

{% endblock %}


</html>