<!DOCTYPE html>
<html lang="en">'


{% extends "base.html" %}

{% block body %}

    <body>

    <div class="container" style="margin-top: 50px;">

        <div class="panel panel-default">
            <div class="panel-heading"><p>
                <div class="panel-title"><h3>{{ row.Workflow.workflow_name }} </h3></div>
            </div>
            <div class="panel-body">
                <p> <h5> Description </h5> {{ row.Workflow_Description.description }}
                <p> <h5> Library preparation </h5>{{ row.Workflow.library_preparation }}
                <p> <h5> Library layout </h5>{{ row.Workflow.library_layout }}
                <p> <h5> Sequencing strategy </h5>{{ row.Workflow.sequencing_strategy }}
                <p> <h5> Reference genome </h5>{{ row.Workflow.reference_genome }}
                <p> <h5> Usage </h5>{{ row.Workflow.workflow_usage }}
                <p> <h5> CWL explorer</h5> <a href= {{ 'explorer.html/' + row.Workflow.workflow_accession + '.html' }}>
                link </a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><p>
                <div class="panel-title"><h3>Summary </h3></div>
            </div>
            <div class="panel-body" style="height: auto">


                <table class="rtable rtable--flip" style="width: 900px">
                    <thead>

                    <tr style="width: 150px">
                        <th>Workflow manager</th>
                        <th>Sample QC</th>
                        <th>FastQ QC</th>
                        <th>Alignment</th>
                        <th>Bam QC</th>
                        <th>Variant calling</th>
                        <th>Variant annotation</th>
                        <th>Variant filtering</th>
                        <th>Variant QC</th>
                        <th>Verification</th>
                        <th>Reporting</th>
                    </tr>

                    </thead>
                    <tbody style="overflow: scroll">
                    <tr style="width: 1000px">

                        <td>{{ row.Workflow_Description.workflow_manager }}</td>
                        <td>{{ row.Workflow_Description.sample_qc }}</td>
                        <td> {{ row.Workflow_Description.fastq_qc }}</td>
                        <td> {{ row.Workflow_Description.alignment }}</td>
                        <td> {{ row.Workflow_Description.bam_qc }}</td>
                        <td> {{ row.Workflow_Description.variant_calling }}</td>
                        <td> {{ row.Workflow_Description.variant_annotation }}</td>
                        <td> {{ row.Workflow_Description.variant_filtering }}</td>
                        <td> {{ row.Workflow_Description.variant_qc }}</td>
                        <td> {{ row.Workflow_Description.verification }}</td>
                        <td> {{ row.Workflow_Description.reporting }}</td>

                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading"><p>
                <div class="panel-title"><h3> Additional information </h3></div>
            </div>
            <div class="panel-body" style="height: auto">
                {{ include_md('markdown/' + row.Workflow.workflow_accession + '.md') }}
            </div>
        </div>


        <div>
            <div class="panel panel-default">
                <div class="panel-heading"><p>
                    <div class="panel-title"><h3> Key attribute summary </h3></div>
                </div>
                <div class="panel-body" style="height: auto">
                    <table class="rtable rtable--flip" style="width: 900px">
                        <thead>
                        <tr>
                            {% for Pipeline_summary in header %}
                                {% for field in Pipeline_summary.__table__.columns.keys() %}
                                    <th> {{ field }} </th>
                                {% endfor %}
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for Pipeline_summary in header %}
                                {% for field in Pipeline_summary.__table__.columns.keys() %}
                                    <td> {{ Pipeline_summary[field] }} </td>
                                {% endfor %}
                            {% endfor %}
                            </td>


                        </tbody>


                </div>
            </div>

        </div>


    </body>

{% endblock %}


</html>