<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}



{% block body %}


    <body>


    <div class="container" style="margin-top: 50px">

        <div class="row">
            <h1> Glossary of terms </h1>

            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#1" , role="tab"> Terms </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#2" , role="tab"> Concepts </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#3" , role="tab"> Software associated </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#4" , role="tab"> References </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#5" , role="tab"> Website definitions </a>
                </li>

            </ul>

        </div>
        <div class="row">

            <div class="tab-content" style="margin-top: 50px">


                <div class="tab-pane" id=1 role="tabpanel">

                    {% for char in "ABCDEFGHIJKLMNOPQRSTUVWXYZ01"|list %}
                        <h2>{{ char }}</h2>
                        {% for row in termrows %}
                            {% if char == row.term_name|upper|truncate(1, True, end='') %}
                                <dt>{{ row.term_name }}</dt>
                                <p style="text-indent: 20px"> {{ row.term_definition }}<p/>

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="tab-pane" id=2 role="tabpanel">


                    {% for char in "ABCDEFGHIJKLMNOPQRSTUVWXYZ01"|list %}
                        <h2>{{ char }}</h2>
                        {% for row in termconcept %}
                            {% if char == row.term_name|upper|truncate(1, True, end='') %}
                                <dt>{{ row.term_name }}</dt>
                                <p style="text-indent: 20px"> {{ row.term_definition }}</p>

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="tab-pane" id=3 role="tabpanel">

                    {% for char in "ABCDEFGHIJKLMNOPQRSTUVWXYZ01"|list %}
                        <h2>{{ char }}</h2>
                        {% for row in termsoftware %}
                            {% if char == row.term_name|upper|truncate(1, True, end='') %}
                                <dt>{{ row.term_name }}</dt>
                                <p style="text-indent: 20px"> {{ row.term_definition }}</p>

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="tab-pane" id=4 role="tabpanel">

                    {% for char in "ABCDEFGHIJKLMNOPQRSTUVWXYZ01"|list %}
                        <h2>{{ char }}</h2>
                        {% for row in term_references %}
                            {% if char == row.term_definition|upper|truncate(1, True, end='') %}
                                <dt>{{ row.term_name }}</dt>
                                <p style="text-indent: 20px"> {{ row.term_definition }}</p>

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="tab-pane" id=5 role="tabpanel">

                    {% for char in "ABCDEFGHIJKLMNOPQRSTUVWXYZ01"|list %}
                        <h2>{{ char }}</h2>
                        {% for row in termwebsite %}
                            {% if char == row.term_name|upper|truncate(1, True, end='') %}
                                <dt>{{ row.term_name }}</dt>
                                <p style="text-indent: 20px"> {{ row.term_definition }}</p>

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>


        </div>


    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </body>

{% endblock %}

</html>