<!DOCTYPE html>
<html lang="en">

{%  extends "base.html" %}

{%  block body %}

<body>


<div class="container" style="margin-top: 50px">

<div class="row">


        <ul class="nav nav-tabs">

          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#1", role="tab"> Glossary </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#2", role="tab"> Definitions - concepts  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#3", role="tab"> Useful references </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#4", role="tab"> Definitions - packages  </a>
          </li>

        </ul>

</div>
<div class="row">

    <div class="tab-content" style="margin-top: 50px">

            <div class="tab-pane" id=1 role="tabpanel">
                {% for row in termrows%}
                    <h5> {{ row.term_name }} </h5><p style="margin-left: 20px"> {{  row.term_definition }}</p>

                {%  endfor %}
            </div>
            <div class="tab-pane" id=2 role="tabpanel">
                {% for row in termconcept %}
                    <h5> {{ row.term_name }} </h5><p style="margin-left: 20px"> {{  row.term_definition }}</p>

                {%  endfor %}
            </div>
            <div class="tab-pane" id=3 role="tabpanel">
                {% for row in term_references %}
                    <h5> {{ row.term_name }} </h5><p style="margin-left: 20px"> {{  row.term_definition }}</p>

                {%  endfor %}
            </div>
            <div class="tab-pane" id=4 role="tabpanel">
                {% for row in termsoftware %}
                    <h5> {{ row.term_name }} </h5><p style="margin-left: 20px"> {{  row.term_definition }}</p>

                {%  endfor %}
            </div>
    </div>

</div>


</div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>





</body>

{%  endblock %}

</html>