<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}


{% block body %}
    <body>

    <div class="container container-fluid" style="margin-top: 30px">
        <h3>
            Search results
        </h3>
        <table class="table" style="block; overflow: scroll">
            <thead>
            <tr>
                <th>Workflow Name</th>
                <th>Flagship</th>
                <th>CWL explorer</th>
            </tr>
            </thead>
            <tbody>
            {% for row in workflow_query %}
                <td>{{ row.Workflow.workflow_name }}</td>
                <td> {{ row.Flagship.flagship_name }}</td>
                <td><a href= {{ row.Workflow.workflow_accession }}> link </a></td>

                </tbody>
            {% endfor %}

        </table>

    </div>


    </div>


    </body>



    <link href="{{ url_for('static', filename='css/css_responsive.css') }}" , rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" , rel="stylesheet">

{% endblock %}

</html>