<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
        <meta charset="UTF-8">
    <title> Australian Genomics Pipeline Registry </title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel="stylesheet">
    <link rel="shortcut icon" src="{{ url_for('static', filename='images/agha.ico') }}">
        <link href="{{ url_for('static', filename='css/css_responsive.css') }}", rel="stylesheet">

</head>


    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel="stylesheet">



<head>




<header>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class ='row'>
        <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                  </button>
                 <a class="navbar-brand" href="/">
                     <img style = 'max-width:200px; margin-top: -20px;' src ="{{ url_for('static', filename='images/agha.ico') }}"</img>
                  </a>
                <form class="navbar-form navbar-left" role="Enter a pipeline name" action='' method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search-for-pipeline" name="search-for-pipeline" placeholder="Search for a pipeline"/>
                        <button type="submit" class="btn btn-default">Find</button>
                    </div>
                </form>
          </div>
      </div>
    </nav>

</header>

<body>

<div class ="container container-fluid" style="margin-top: 30px">
<h3>
    Search results
</h3>
    <table class="table" style="block; overflow: scroll">
        <thead>
        <tr>
            <th>Workflow Name</th>
            <th>Flagship</th>
            <th>CWL explorer</th>
        </tr>
        </thead>
    <tbody>
    {% for row in workflow_query %}
        <td>{{ row.Workflow.workflow_name }}</td>
        <td> {{ row.Flagship.flagship_name }}</td>
        <td> <a href= {{ row.Workflow.workflow_accession }}>  link </a></td>

    </tbody>
        {% endfor %}

    </table>

</div>



</div>
</body>
</html>