<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="" method="post">
    <label>Flagship name :</label>
    <input type="text" id="flagship_name" name = "flagship_name"/>
    <label> Flagship institute </label>
    <input type="text" id="flagship_institute" name="flagship_institute" />
    <label>Flagship lead:</label>
    <input type="text" id="flagship_lead" name="flagship_lead"/>
    <label>Flagship disease:</label>
    <input type="text" id="flagshipDiseaseType" name="flagshipDiseaseType"/>
    <input type="submit" value="Submit" />
</form>

</body>
</html>