<!DOCTYPE html>

<style>

.wrapper {
  margin-top: 50px; margin-left: 50px; margin-right: 50px;

}

</style>

<html lang="en">


<head>
   <meta charset="UTF-8">
    <title> Australian Genomics Pipeline Registry </title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}", rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='agha.ico') }}">
</head>


<body>

<header>

<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class ='row'>
    <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
             <a class="navbar-brand" href="/">
                 <img style = 'max-width:200px; margin-top: -20px;' src ="{{ url_for('static', filename='images/agha.ico') }}" /</img>
              </a>
        </div>


      </div>
  </div>

</header>
<div class=wrapper>

  <table class="table">
  <thead>
    <tr>
      <th>Pipeline Name</th>
      <th>Pipeline institute</th>
    </tr>
  </thead>

      {% for row in pipelinerows %}

  <tbody>
    <tr>
      <td>{{ row.pipeline_name }}</td>
      <td>{{ row.pipeline_institute}}</td>
    </tr>
        {% endfor %}

</div>



<div class=container>

  <table class="table">
  <thead>
    <tr>
      <th>Workflow Name</th>
      <th>Library preparation</th>
        <th>Library layout</th>
        <th>Sequencing strategy</th>
        <th>Workflow usage</th>
    </tr>
  </thead>

      {% for row in workflowrows %}

  <tbody>
    <tr>
      <td>{{ row.workflow_name }}</td>
      <td>{{ row.library_preparation}}</td>
      <td>{{ row.library_layout}}</td>
      <td>{{ row.sequencing_strategy}}</td>
      <td>{{ row.workflow_usage}}</td>
    </tr>
        {% endfor %}

</div>



</body>
</html>