<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}


<body>

<div class="container" style="margin-bottom: 100px">
    <div class="'row">
        <div class="col-md-12" style="margin-top:20px">
            <h3> Flagship upload </h3>

            <form name="myForm" action="" method="post" onsubmit=validateForm()>
                <div class='form-row'>
                    <div class="col-sm-2">
                        <label> flagship_name </label><input type="text" id="flagship_name" name="flagship_name"/>
                    </div>
                    <div class="col-sm-2">
                        <label> flagship_institute </label><input type="text" id="flagship_institute"
                                                                  name="flagship_institute"/>
                    </div>
                    <div class="col-sm-2">
                        <label> flagship_lead </label><input type="text" id="flagship_lead" name="flagship_lead"/>
                    </div>
                    <div class="col-sm-2">
                        <label> flagshipDiseaseType </label><input type="text" id="flagshipDiseaseType"
                                                                   name="flagshipDiseaseType"/>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Enter into db</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12" style="margin-top:20px">

            <h3> Pipeline upload </h3>

            <form action="" method="post">
                <div class="form-row">
                    <div class="col-sm-2">
                        <label for="pipeline_name">pipeline_name </label><input type="text" id="pipeline_name"
                                                                                name="pipeline_name">
                    </div>
                    <div class="col-sm-2">
                        <label for="pipeline_provider"> pipeline_provider </label><input type="text"
                                                                                         id="pipeline_provider"
                                                                                         name="pipeline_provider"/>
                    </div>
                    <div class="col-sm-2">
                        <label for="workflow">Select a workflow </label>
                        <select class="form-control" id="workflow">
                            {% for row in workflowrows %}
                                <option>{{ row.workflow_name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label for="institute"> Select an institute </label>
                        <select class="form-control" id="institute" name="institute">
                            {% for row in instituterows %}
                                <option>{{ row.institute_name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-sm-2">
                        <br>
                        <button type="submit" class="btn btn-primary">Enter into db</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="row">

        <div class="col-md-12" style="margin-top: 20px">

            <h3> Institute upload </h3>

            <form name="myForm" action="" onsubmit=validateForm() method="post">
                <div class="form-row">
                    <div class="col-sm-2">
                        <label for="institute_name"> Institute Name</label><input type="text" id="institute_name"
                                                                                  name="institute_name">
                    </div>
                    <div class="col-sm-2">
                        <label for="pipeline"> Pipeline name</label>

                        <select class="form-control" id="pipeline">
                            {% for row in pipelinerows %}
                                <option>{{ row.pipeline_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <br>
                        <button type="submit" class="btn btn-primary">Enter into db</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12" style="margin-top: 20px">

            <h3> Workflow description upload </h3>

            <form action="" method="post">
                <div class="form-row">
                    <div class="col-sm-2">
                        <label for="workflow_desc"> Workflow description </label><input type="text" id="workflow_desc"
                                                                                        name="workflow_name">
                    </div>
                    <div class="col-sm-2">
                        <label for="workflow"> Workflow name</label>
                        <select class="form-control" id="workflow">
                            {% for row in workflowrows %}
                                <option>{{ row.workflow_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <br>
                        <button type="submit" class="btn btn-primary">Enter into db</button>
                    </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>